<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beidouapp.xiaoe">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- wifi状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音机使用权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WifiSettingActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.IMService" />

        <activity
            android:name=".activity.QRSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RGBControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transcutestyle" />
        <activity
            android:name=".activity.VisualInteractiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoiceControlActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GroupManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoiceSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FirstUseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DataTransmissionActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>